:root {
    --nav-size: 250px;
    --color-body: #111111;
    --color-sidebar: #000;
    --color-accent: #1b4332;
    --color-accent-hover: #2d6a4f;
    --card-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

body {
    display: block;
    background: var(--color-body);
    color: #fff;
}

.sidebar {
    width: var(--nav-size);
    position: fixed;
    padding: 30px;
    background: var(--color-sidebar);
    inset: 10px;
    border-radius: 30px;
    border: 1px solid #222;
}

.nav-header {
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
}

.nav-items {
    list-style: none;
}

main {
    margin-left: calc(var(--nav-size) + 30px);
    padding: 20px;
    display: grid;
}

.card {
    background: #191919;
    height: 128px;
    border-radius: var(--card-radius);
    padding: 24px;
    font-size: 32px;
    border: 1px solid #262626;
}

.new-button {
    --button-offset: 20px;
    --button-size: 70px;
    position: fixed;
    background: var(--color-accent);
    width: var(--button-size);
    height: var(--button-size);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: var(--button-offset);
    right: var(--button-offset);
    border-radius: 100%;
    color: white;
    transition: linear .05s;
}

.new-button:hover {
    background: var(--color-accent-hover);
    transform: scale(1.05);
}

.new-button svg {
    width: 40px;
    height: 40px;
    transition: linear .05s;

}

.new-button:hover svg {
    transform: scale(1.05);
}