:root {
    --nav-size: 250px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    background: #222222;
    color: #fff;
}

.sidebar {
    width: var(--nav-size);
    border-right: 2px #111 solid;
    height: 100vh;
    position: fixed;
    padding: 20px;
}

.nav-header {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 10px;
}

.nav-items {
    list-style: none;
}

main {
    margin-left: calc(var(--nav-size) + 10px);
}